*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#0f766e);
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:400px;
    background:#ffffff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 15px 35px rgba(0,0,0,.3);
}

.login-box h2{
    text-align:center;
    color:#1e3a8a;
    font-weight:700;
    margin-bottom:10px;
}

.login-box p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

.form-control{
    height:48px;
}

.btn-primary{
    background:#0f766e;
    border:none;
    height:48px;
    font-weight:600;
}

.btn-primary:hover{
    background:#115e59;
}